/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "aileronbold";
  src: url("../static/fonts/Aileron-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "aileronregular";
  src: url("../static/fonts/Aileron-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* MOBILE */
/* TABLET */
/* DESKTOP */
/* MOBILE */
/* TABLET */
/* DESKTOP */
/* MOBILE */
@media (min-width: 299px) and (max-width: 1023px) {
  .navigation {
    background-color: #e4001f;
    color: white;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "aileronregular";
  }
  .navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .navigation__item, .navigation__item--link {
    font-size: 1.5rem;
    font-family: "aileronbold";
    font-weight: 300;
    text-decoration: none;
    color: white;
  }
  .navigation__item--logo {
    font-size: 1.8rem;
    font-family: "aileronbold";
    font-weight: 700;
  }
}
/* TABLET */
@media (min-width: 1024px) and (max-width: 1099px) {
  .navigation {
    background-color: #e4001f;
    color: white;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "aileronregular";
  }
  .navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .navigation__item, .navigation__item--link {
    font-size: 1.5rem;
    font-family: "aileronbold";
    font-weight: 300;
    text-decoration: none;
    color: white;
  }
  .navigation__item--logo {
    font-size: 1.8rem;
    font-family: "aileronbold";
    font-weight: 700;
  }
}
/* DESKTOP */
@media (min-width: 1100px) {
  .navigation {
    background-color: #e4001f;
    color: white;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "aileronregular";
  }
  .navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .navigation__item, .navigation__item--link {
    font-size: 1.5rem;
    font-family: "aileronbold";
    font-weight: 300;
    text-decoration: none;
    color: white;
  }
  .navigation__item--logo {
    font-size: 1.8rem;
    font-family: "aileronbold";
    font-weight: 700;
  }

  .portfolio-item--rotate-left {
    transform: rotate(2deg);
  }

  .portfolio-item--rotate-right {
    transform: rotate(-4deg);
  }

  .portfolio-item {
    position: relative;
  }
  .portfolio-item__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #e4001f;
  }
}
.portfolio-wrapper {
  max-width: 100%;
  padding: 2rem;
  padding-top: 4rem;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 0.5fr));
  grid-gap: 50px;
  grid-auto-rows: 0;
}

@media only screen and (max-width: 1024px) and (min-width: 360px) {
  .portfolio {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }

  .portfolio-wrapper {
    padding: 1rem;
  }

  .portfolio-item__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    transition: 0.5s ease;
    background-color: white;
  }

  .portfolio-item__title {
    color: #e4001f;
    opacity: 1;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .portfolio {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }

  .portfolio-wrapper {
    padding: 0.25rem;
    padding-top: 2rem;
  }

  .portfolio-item__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    transition: 0.5s ease;
    background-color: white;
  }

  .portfolio-item__title {
    color: #e4001f;
    opacity: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .portfolio {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}
.portfolio-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  transition: all 0.25s ease-in-out;
}
.portfolio-item:hover {
  transform: translateY(-10px);
}
.portfolio-item:hover:hover .portfolio-item__overlay {
  opacity: 0.85;
}
.portfolio-item__content {
  overflow: hidden;
}
.portfolio-item__content img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-item {
  color: white;
  height: max-content;
}
.portfolio-item__title, .portfolio-item__description {
  margin: 0;
}
.portfolio-item__title {
  margin-top: auto;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  font-family: "aileronbold";
  padding: 2rem 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
